In [1]:
#2exercise
heros=['spider man','thor','hulk','iron man','captain america']
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [2]:
len(heros)

5

In [3]:
heros.append('black panther')

In [4]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [5]:
heros.remove(5)
heros

ValueError: list.remove(x): x not in list

In [6]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [7]:
heros[3,'black panther']
heros

TypeError: list indices must be integers or slices, not tuple

In [8]:
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [9]:
heros[1:3]=['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [10]:
heros.sort()

In [11]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

In [12]:
#exercise 1

January - 2200
February-2350
March - 2600
April - 2130
May - 2190
expense=[January,February,March,April,May]

NameError: name 'January' is not defined

In [14]:
january=2200
february=2350
march=2600
april=2130
may=2190
expenses=[january,february,march,april,may]
expenses

[2200, 2350, 2600, 2130, 2190]

In [15]:
february-january

150

In [16]:
total_expense=january+february+march
total_expense

7150

In [17]:
june=1980
expenses.append(june)

In [18]:
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

In [19]:
april+200

2330